# Lista 6 - Pandas!

**Antes de começar:** Junto com esta lista do Jupyter, a base de dados "data_pandas.csv" vai ser fundamental para realizar os exercícios a seguir.

## *Exercício 1* - Extraindo os dados
### O arquivo "data_pandas.csv" é uma base de dados com preços históricos das vendas da empresa de supermercado que registrou dados em 3 filiais diferentes por 3 meses.

##### - Inicialmente, precisamos importar o Pandas para nosso código e armazenar os dados contidos no arquivo "data_pandas.csv" dentro de uma variável

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data_pandas.csv")

In [3]:
df

,ID,Filial,Cidade,Tipo cliente,Genero,Linha produto,Preco unitario,Quantidade,Taxa 5%,Total,Data,Hora,Forma pagamento,Custo produto vendido,Margem bruta,Receita bruta,Rating
0,319-50-3348,B,Mandalay,Normal,Female,Home and lifestyle,40.30,2,4.0300,84.6300,3/11/2019,15:30,Ewallet,80.60,4.761905,4.0300,4.4
1,390-80-5128,B,Mandalay,Member,Female,Health and beauty,19.15,1,0.9575,20.1075,1/28/2019,17:58,Credit card,19.15,4.761905,0.9575,9.5
2,523-38-0215,C,Naypyitaw,Normal,Male,Home and lifestyle,37.00,1,1.8500,38.8500,3/6/2019,13:29,Credit card,37.00,4.761905,1.8500,7.9
3,565-91-4567,B,Mandalay,Normal,Male,Health and beauty,10.75,8,4.3000,90.3000,3/15/2019,14:38,Ewallet,86.00,4.761905,4.3000,6.2
4,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900,749.4900,3/29/2019,19:21,Cash,713.80,4.761905,35.6900,5.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,122-61-9553,C,Naypyitaw,Normal,Female,Electronic accessories,51.32,9,23.0940,484.9740,3/14/2019,19:33,Cash,461.88,4.761905,23.0940,5.6
1096,789-23-8625,B,Mandalay,Member,Male,Fashion accessories,93.22,3,NaN,293.6430,1/24/2019,11:45,Cash,279.66,4.761905,13.9830,7.2
1097,600-38-9738,C,Naypyitaw,Member,Male,Sports and travel,71.92,5,17.9800,377.5800,1/17/2019,15:05,Credit card,359.60,4.761905,17.9800,4.3
1098,355-34-6244,B,Mandalay,Normal,Male,Food and beverages,72.39,2,7.2390,152.0190,1/13/2019,19:55,Credit card,144.78,4.761905,7.2390,8.1
1099,595-27-4851,A,Yangon,Normal,Female,Fashion accessories,54.28,7,18.9980,398.9580,1/27/2019,18:05,Ewallet,379.96,4.761905,18.9980,9.3

#

#

#

#

## **Exercício 2 - Conhecendo nossos dados:** 
#### Nessa etapa, busque gerar visualizações básicas do dataframe.

### a) As cinco primeiras linhas

In [4]:
df.head()

,ID,Filial,Cidade,Tipo cliente,Genero,Linha produto,Preco unitario,Quantidade,Taxa 5%,Total,Data,Hora,Forma pagamento,Custo produto vendido,Margem bruta,Receita bruta,Rating
0,319-50-3348,B,Mandalay,Normal,Female,Home and lifestyle,40.30,2,4.0300,84.6300,3/11/2019,15:30,Ewallet,80.60,4.761905,4.0300,4.4
1,390-80-5128,B,Mandalay,Member,Female,Health and beauty,19.15,1,0.9575,20.1075,1/28/2019,17:58,Credit card,19.15,4.761905,0.9575,9.5
2,523-38-0215,C,Naypyitaw,Normal,Male,Home and lifestyle,37.00,1,1.8500,38.8500,3/6/2019,13:29,Credit card,37.00,4.761905,1.8500,7.9
3,565-91-4567,B,Mandalay,Normal,Male,Health and beauty,10.75,8,4.3000,90.3000,3/15/2019,14:38,Ewallet,86.00,4.761905,4.3000,6.2
4,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900,749.4900,3/29/2019,19:21,Cash,713.80,4.761905,35.6900,5.7

### b) As cinco últimas linhas

In [5]:
df.tail()

,ID,Filial,Cidade,Tipo cliente,Genero,Linha produto,Preco unitario,Quantidade,Taxa 5%,Total,Data,Hora,Forma pagamento,Custo produto vendido,Margem bruta,Receita bruta,Rating
1095,122-61-9553,C,Naypyitaw,Normal,Female,Electronic accessories,51.32,9,23.094,484.974,3/14/2019,19:33,Cash,461.88,4.761905,23.094,5.6
1096,789-23-8625,B,Mandalay,Member,Male,Fashion accessories,93.22,3,NaN,293.643,1/24/2019,11:45,Cash,279.66,4.761905,13.983,7.2
1097,600-38-9738,C,Naypyitaw,Member,Male,Sports and travel,71.92,5,17.980,377.580,1/17/2019,15:05,Credit card,359.60,4.761905,17.980,4.3
1098,355-34-6244,B,Mandalay,Normal,Male,Food and beverages,72.39,2,7.239,152.019,1/13/2019,19:55,Credit card,144.78,4.761905,7.239,8.1
1099,595-27-4851,A,Yangon,Normal,Female,Fashion accessories,54.28,7,18.998,398.958,1/27/2019,18:05,Ewallet,379.96,4.761905,18.998,9.3

### c) Quantas linhas e colunas possuem no dataframe

In [6]:
linhas = df.shape[0]
colunas = df.shape[1]

(1100, 17)

### d) Qual é o tipo (type) de dados que cada coluna possui

In [8]:
df.dtypes

ID                        object
Filial                    object
Cidade                    object
Tipo cliente              object
Genero                    object
Linha produto             object
Preco unitario           float64
Quantidade                 int64
Taxa 5%                  float64
Total                    float64
Data                      object
Hora                      object
Forma pagamento           object
Custo produto vendido    float64
Margem bruta             float64
Receita bruta            float64
Rating                   float64
dtype: object

#

#

#

#

## **Exercício 3 - Alguns calculos e análise das variáveis quantitativas:**

### a) Média do valor total de cada compra

In [9]:
df["Total"].mean()

326.9037068181815

### b) Qual quantidade vendida aparece mais vezes?

In [10]:
df["Quantidade"].mode()[0]

10

### c) Valor total das receitas de venda

In [11]:
df["Total"].sum()

359594.0775

#

### d) Menor e maior valor total de todas as vendas

In [12]:
df["Total"].max()

1042.65

In [13]:
df["Total"].min()

10.6785

#

#

#

#

## **Exercício 4 - Manipulando os dados:**
### Apague do DataFrame ou crie um novo sem as colunas abaixo, que não serão úteis para nossos exercícios. Exiba o novo DataFrame para confirmar que elas foram excluídas.

         1) Filial
         2) Tipo cliente
         3) Data
         4) Hora

In [14]:
df = df.drop(["Filial","Tipo cliente","Data", "Hora"], axis= 1)

# ou 

#df.drop(["Filial","Tipo cliente","Data", "Hora"], axis= 1, inplace = True)

df.head()

,ID,Cidade,Genero,Linha produto,Preco unitario,Quantidade,Taxa 5%,Total,Forma pagamento,Custo produto vendido,Margem bruta,Receita bruta,Rating
0,319-50-3348,Mandalay,Female,Home and lifestyle,40.30,2,4.0300,84.6300,Ewallet,80.60,4.761905,4.0300,4.4
1,390-80-5128,Mandalay,Female,Health and beauty,19.15,1,0.9575,20.1075,Credit card,19.15,4.761905,0.9575,9.5
2,523-38-0215,Naypyitaw,Male,Home and lifestyle,37.00,1,1.8500,38.8500,Credit card,37.00,4.761905,1.8500,7.9
3,565-91-4567,Mandalay,Male,Health and beauty,10.75,8,4.3000,90.3000,Ewallet,86.00,4.761905,4.3000,6.2
4,829-34-3910,Yangon,Female,Health and beauty,71.38,10,35.6900,749.4900,Cash,713.80,4.761905,35.6900,5.7

### a) Defina a coluna "ID" como index do dataframe

In [15]:
df.set_index("ID", inplace= True)

df.head()

,Cidade,Genero,Linha produto,Preco unitario,Quantidade,Taxa 5%,Total,Forma pagamento,Custo produto vendido,Margem bruta,Receita bruta,Rating
ID,,,,,,,,,,,,
319-50-3348,Mandalay,Female,Home and lifestyle,40.30,2,4.0300,84.6300,Ewallet,80.60,4.761905,4.0300,4.4
390-80-5128,Mandalay,Female,Health and beauty,19.15,1,0.9575,20.1075,Credit card,19.15,4.761905,0.9575,9.5
523-38-0215,Naypyitaw,Male,Home and lifestyle,37.00,1,1.8500,38.8500,Credit card,37.00,4.761905,1.8500,7.9
565-91-4567,Mandalay,Male,Health and beauty,10.75,8,4.3000,90.3000,Ewallet,86.00,4.761905,4.3000,6.2
829-34-3910,Yangon,Female,Health and beauty,71.38,10,35.6900,749.4900,Cash,713.80,4.761905,35.6900,5.7

#

### b) Realize dois filtros na base de dados, um deles, apenas mostrando as vendas realizadas por homens, e no outro, apenas as vendas realizadas por mulheres.

In [16]:
df_homem = df[df["Genero"] == "Male"]

df_homem.head(3)

,Cidade,Genero,Linha produto,Preco unitario,Quantidade,Taxa 5%,Total,Forma pagamento,Custo produto vendido,Margem bruta,Receita bruta,Rating
ID,,,,,,,,,,,,
523-38-0215,Naypyitaw,Male,Home and lifestyle,37.00,1,1.850,38.850,Credit card,37.00,4.761905,1.850,7.9
565-91-4567,Mandalay,Male,Health and beauty,10.75,8,4.300,90.300,Ewallet,86.00,4.761905,4.300,6.2
347-56-2442,Yangon,Male,Home and lifestyle,65.82,1,3.291,69.111,Cash,65.82,4.761905,3.291,4.1

#

In [17]:
df_mulher = df[df["Genero"] == "Female"]

df_mulher.head(3)

,Cidade,Genero,Linha produto,Preco unitario,Quantidade,Taxa 5%,Total,Forma pagamento,Custo produto vendido,Margem bruta,Receita bruta,Rating
ID,,,,,,,,,,,,
319-50-3348,Mandalay,Female,Home and lifestyle,40.30,2,4.0300,84.6300,Ewallet,80.60,4.761905,4.0300,4.4
390-80-5128,Mandalay,Female,Health and beauty,19.15,1,0.9575,20.1075,Credit card,19.15,4.761905,0.9575,9.5
829-34-3910,Yangon,Female,Health and beauty,71.38,10,35.6900,749.4900,Cash,713.80,4.761905,35.6900,5.7

#

### c) Após isso, descubra a média e a soma do valor total das compras de cada um desses grupos

In [18]:
print(f"Homem\n\nMédia: R$",round(df_homem["Total"].mean(),2))

print("Soma total: R$",round(df_homem["Total"].sum(),2))

Homem

Média: R$ 315.3
Soma total: R$ 173412.97

In [19]:
print(f"Mulher\n\nMédia: R$", round(df_mulher["Total"].mean(),2))

print("Soma total: R$", round(df_mulher["Total"].sum(),2))

Mulher

Média: R$ 338.51
Soma total: R$ 186181.11

#

#

#

#

## **Exercício 5 - Limpando a base:** 
#### Após entender do que o seu Dataset se trata, chegou a hora de realizar a limpeza de dados. Aqui, lembre-se de que os tipos mais comuns de "sujeiras" nos dados são:

*   NaN
*   Valores duplicados

Valores desse tipo são indesejáveis (embora muito comuns) porque atrapalham a análise, por isso sempre é necessário tratá-los.

### a) Identifique quais colunas possuem casos de NaN e substitua-os por um valor

###### Dica: Taxa = Preço unitario * quantidade * 0.05

###### Utilize a função **fillna** para realizar essa substituição mais facilmente

In [20]:
df.isna().sum()

Cidade                     0
Genero                     0
Linha produto              0
Preco unitario             0
Quantidade                 0
Taxa 5%                  163
Total                      0
Forma pagamento            0
Custo produto vendido      0
Margem bruta               0
Receita bruta              0
Rating                     0
dtype: int64

In [21]:
df["Taxa 5%"].fillna((df["Preco unitario"] * df["Quantidade"] * 0.05), inplace = True)

# ou

# df["Taxa 5%"] = df["Taxa 5%"].fillna(df["Preco unitario"] * df["Quantidade"] * 0.05)

In [22]:
df.isna().sum()

Cidade                   0
Genero                   0
Linha produto            0
Preco unitario           0
Quantidade               0
Taxa 5%                  0
Total                    0
Forma pagamento          0
Custo produto vendido    0
Margem bruta             0
Receita bruta            0
Rating                   0
dtype: int64

### b) Identifique quantas linhas duplicadas existem na base de dados, exiba-as e, por fim, exclua-as do DataFrame

In [23]:
df.duplicated().sum()

100

In [24]:
df.drop_duplicates(inplace= True)

# ou

#df = df.drop_duplicates()


df.head()

,Cidade,Genero,Linha produto,Preco unitario,Quantidade,Taxa 5%,Total,Forma pagamento,Custo produto vendido,Margem bruta,Receita bruta,Rating
ID,,,,,,,,,,,,
319-50-3348,Mandalay,Female,Home and lifestyle,40.30,2,4.0300,84.6300,Ewallet,80.60,4.761905,4.0300,4.4
390-80-5128,Mandalay,Female,Health and beauty,19.15,1,0.9575,20.1075,Credit card,19.15,4.761905,0.9575,9.5
523-38-0215,Naypyitaw,Male,Home and lifestyle,37.00,1,1.8500,38.8500,Credit card,37.00,4.761905,1.8500,7.9
565-91-4567,Mandalay,Male,Health and beauty,10.75,8,4.3000,90.3000,Ewallet,86.00,4.761905,4.3000,6.2
829-34-3910,Yangon,Female,Health and beauty,71.38,10,35.6900,749.4900,Cash,713.80,4.761905,35.6900,5.7

In [25]:
df.duplicated().sum()

0

#

#

#

## **Exercício 6  - Criando novos filtros do Dataframe original**
### a) Exiba um filtro com todas as vendas que se estão na linha de produto de "Fashion accessories" OU "Heath and beauty" E com um valor total superior a 60

###### obs: utilize condições múltiplas com símbolos (&, |) e não esqueça de usar os parênteses para cada condição ex: ((x>2) & (x<10)) | (y>10)

In [26]:
df[((df["Linha produto"] == "Fashion accessories")| (df["Linha produto"] == "Health and beauty")) & (df["Total"]>60)]

# ou 

df[(df["Linha produto"].isin(["Fashion accessories","Health and beauty"])) & (df["Total"]>60)]

,Cidade,Genero,Linha produto,Preco unitario,Quantidade,Taxa 5%,Total,Forma pagamento,Custo produto vendido,Margem bruta,Receita bruta,Rating
ID,,,,,,,,,,,,
565-91-4567,Mandalay,Male,Health and beauty,10.75,8,4.3000,90.3000,Ewallet,86.00,4.761905,4.3000,6.2
829-34-3910,Yangon,Female,Health and beauty,71.38,10,35.6900,749.4900,Cash,713.80,4.761905,35.6900,5.7
359-90-3665,Mandalay,Female,Fashion accessories,18.08,4,3.6160,75.9360,Credit card,72.32,4.761905,3.6160,9.5
797-88-0493,Yangon,Female,Health and beauty,64.27,4,12.8540,269.9340,Cash,257.08,4.761905,12.8540,7.7
418-05-0656,Mandalay,Female,Fashion accessories,25.56,7,8.9460,187.8660,Cash,178.92,4.761905,8.9460,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...
873-95-4984,Mandalay,Female,Health and beauty,76.90,7,26.9150,565.2150,Cash,538.30,4.761905,26.9150,7.7
139-52-2867,Naypyitaw,Female,Fashion accessories,22.51,7,7.8785,165.4485,Credit card,157.57,4.761905,7.8785,4.8
687-47-8271,Yangon,Male,Fashion accessories,98.98,10,49.4900,1039.2900,Credit card,989.80,4.761905,49.4900,8.7
789-23-8625,Mandalay,Male,Fashion accessories,93.22,3,13.9830,293.6430,Cash,279.66,4.761905,13.9830,7.2
595-27-4851,Yangon,Female,Fashion accessories,54.28,7,18.9980,398.9580,Ewallet,379.96,4.761905,18.9980,9.3

#

### b) Exiba um filtro com as vendas que **NÃO** são da linha de "Sports and travel" E possuem uma quantidade vendida entre 4 e 6.

In [62]:
df[(df["Linha produto"] != "Sports and travel") & ((df["Quantidade"] >=4) & (df["Quantidade"]<=6))]

# ou

# df[(df["Linha produto"]!= "Sports and travel") & (df["Quantidade"].isin([4,5,6]))]

,Cidade,Genero,Linha produto,Preco unitario,Quantidade,Taxa 5%,Total,Forma pagamento,Custo produto vendido,Margem bruta,Receita bruta,Rating
ID,,,,,,,,,,,,
359-90-3665,Mandalay,Female,Fashion accessories,18.08,4,3.6160,75.9360,Credit card,72.32,4.761905,3.6160,9.5
891-01-7034,Mandalay,Female,Electronic accessories,74.71,6,22.4130,470.6730,Cash,448.26,4.761905,22.4130,6.7
797-88-0493,Yangon,Female,Health and beauty,64.27,4,12.8540,269.9340,Cash,257.08,4.761905,12.8540,7.7
190-14-3147,Mandalay,Female,Health and beauty,17.97,4,3.5940,75.4740,Ewallet,71.88,4.761905,3.5940,6.4
501-61-1753,Mandalay,Female,Home and lifestyle,63.15,6,18.9450,397.8450,Ewallet,378.90,4.761905,18.9450,9.8
...,...,...,...,...,...,...,...,...,...,...,...,...
407-63-8975,Yangon,Male,Food and beverages,73.88,6,22.1640,465.4440,Ewallet,443.28,4.761905,22.1640,4.4
711-31-1234,Mandalay,Female,Electronic accessories,95.64,4,19.1280,401.6880,Cash,382.56,4.761905,19.1280,7.9
607-76-6216,Naypyitaw,Female,Fashion accessories,92.49,5,23.1225,485.5725,Credit card,462.45,4.761905,23.1225,8.6
892-05-6689,Yangon,Female,Home and lifestyle,28.32,5,7.0800,148.6800,Ewallet,141.60,4.761905,7.0800,6.2
587-73-4862,Yangon,Female,Health and beauty,10.69,5,2.6725,56.1225,Ewallet,53.45,4.761905,2.6725,7.6

####

####

####

####

####