# Lista 6 - Pandas!

**Antes de começar:** Junto com esta lista do Jupyter, a base de dados "data_pandas.csv" vai ser fundamental para realizar os exercícios a seguir.

![image.png]()

Para conseguir manipular o csv com o Python o arquivo precisa estar na mesma pasta que o seu código. No Jupyter, clique em "upload" para adicionar arquivos da pasta de arquivos do seu computador.

#

## **Exercício 1 - Extraindo os dados**
#### O arquivo "data_pandas.csv" é uma base de dados com preços históricos das vendas da empresa de supermercado que registrou dados em 3 filiais diferentes por 3 meses.

- Inicialmente, precisamos importar o Pandas para nosso código e armazenar os dados contidos no arquivo "data_pandas.csv" dentro de uma variável

In [6]:
import pandas as pd

In [3]:
df = pd.read_csv("data_pandas.csv", sep = ",")
df

,ID,Filial,Cidade,Tipo cliente,Genero,Linha produto,Preco unitario,Quantidade,Taxa 5%,Total,Data,Hora,Forma pagamento,Custo produto vendido,Margem bruta,Receita bruta,Rating
0,319-50-3348,B,Mandalay,Normal,Female,Home and lifestyle,40.30,2,4.0300,84.6300,3/11/2019,15:30,Ewallet,80.60,4.761905,4.0300,4.4
1,390-80-5128,B,Mandalay,Member,Female,Health and beauty,19.15,1,0.9575,20.1075,1/28/2019,17:58,Credit card,19.15,4.761905,0.9575,9.5
2,523-38-0215,C,Naypyitaw,Normal,Male,Home and lifestyle,37.00,1,1.8500,38.8500,3/6/2019,13:29,Credit card,37.00,4.761905,1.8500,7.9
3,565-91-4567,B,Mandalay,Normal,Male,Health and beauty,10.75,8,4.3000,90.3000,3/15/2019,14:38,Ewallet,86.00,4.761905,4.3000,6.2
4,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900,749.4900,3/29/2019,19:21,Cash,713.80,4.761905,35.6900,5.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,122-61-9553,C,Naypyitaw,Normal,Female,Electronic accessories,51.32,9,23.0940,484.9740,3/14/2019,19:33,Cash,461.88,4.761905,23.0940,5.6
1096,789-23-8625,B,Mandalay,Member,Male,Fashion accessories,93.22,3,NaN,293.6430,1/24/2019,11:45,Cash,279.66,4.761905,13.9830,7.2
1097,600-38-9738,C,Naypyitaw,Member,Male,Sports and travel,71.92,5,17.9800,377.5800,1/17/2019,15:05,Credit card,359.60,4.761905,17.9800,4.3
1098,355-34-6244,B,Mandalay,Normal,Male,Food and beverages,72.39,2,7.2390,152.0190,1/13/2019,19:55,Credit card,144.78,4.761905,7.2390,8.1
1099,595-27-4851,A,Yangon,Normal,Female,Fashion accessories,54.28,7,18.9980,398.9580,1/27/2019,18:05,Ewallet,379.96,4.761905,18.9980,9.3

## **Exercício 2 - Conhecendo nossos dados:** 
#### Nessa etapa, busque gerar visualizações básicas do dataframe.

a) As cinco primeiras linhas

In [4]:
##### SEU CODIGO COMECA AQUI #####
df.head()

,ID,Filial,Cidade,Tipo cliente,Genero,Linha produto,Preco unitario,Quantidade,Taxa 5%,Total,Data,Hora,Forma pagamento,Custo produto vendido,Margem bruta,Receita bruta,Rating
0,319-50-3348,B,Mandalay,Normal,Female,Home and lifestyle,40.30,2,4.0300,84.6300,3/11/2019,15:30,Ewallet,80.60,4.761905,4.0300,4.4
1,390-80-5128,B,Mandalay,Member,Female,Health and beauty,19.15,1,0.9575,20.1075,1/28/2019,17:58,Credit card,19.15,4.761905,0.9575,9.5
2,523-38-0215,C,Naypyitaw,Normal,Male,Home and lifestyle,37.00,1,1.8500,38.8500,3/6/2019,13:29,Credit card,37.00,4.761905,1.8500,7.9
3,565-91-4567,B,Mandalay,Normal,Male,Health and beauty,10.75,8,4.3000,90.3000,3/15/2019,14:38,Ewallet,86.00,4.761905,4.3000,6.2
4,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900,749.4900,3/29/2019,19:21,Cash,713.80,4.761905,35.6900,5.7

b) As cinco últimas linhas

In [5]:
##### SEU CODIGO COMECA AQUI #####
df.tail()

,ID,Filial,Cidade,Tipo cliente,Genero,Linha produto,Preco unitario,Quantidade,Taxa 5%,Total,Data,Hora,Forma pagamento,Custo produto vendido,Margem bruta,Receita bruta,Rating
1095,122-61-9553,C,Naypyitaw,Normal,Female,Electronic accessories,51.32,9,23.094,484.974,3/14/2019,19:33,Cash,461.88,4.761905,23.094,5.6
1096,789-23-8625,B,Mandalay,Member,Male,Fashion accessories,93.22,3,NaN,293.643,1/24/2019,11:45,Cash,279.66,4.761905,13.983,7.2
1097,600-38-9738,C,Naypyitaw,Member,Male,Sports and travel,71.92,5,17.980,377.580,1/17/2019,15:05,Credit card,359.60,4.761905,17.980,4.3
1098,355-34-6244,B,Mandalay,Normal,Male,Food and beverages,72.39,2,7.239,152.019,1/13/2019,19:55,Credit card,144.78,4.761905,7.239,8.1
1099,595-27-4851,A,Yangon,Normal,Female,Fashion accessories,54.28,7,18.998,398.958,1/27/2019,18:05,Ewallet,379.96,4.761905,18.998,9.3

c) Quantas linhas e colunas possuem no dataframe

In [6]:
##### SEU CODIGO COMECA AQUI #####
df.shape

(1100, 17)

d) Qual é o tipo (type) de dados que cada coluna possui

In [7]:
##### SEU CODIGO COMECA AQUI #####
df.dtypes

ID                        object
Filial                    object
Cidade                    object
Tipo cliente              object
Genero                    object
Linha produto             object
Preco unitario           float64
Quantidade                 int64
Taxa 5%                  float64
Total                    float64
Data                      object
Hora                      object
Forma pagamento           object
Custo produto vendido    float64
Margem bruta             float64
Receita bruta            float64
Rating                   float64
dtype: object

## **Exercício 3 - Alguns calculos e análise das variáveis quantitativas:**

a) Média do valor total de cada compra

In [8]:
##### SEU CODIGO COMECA AQUI #####
df['Total'].mean()

326.9037068181815

b) Qual quantidade vendida aparece mais vezes?

In [9]:
##### SEU CODIGO COMECA AQUI #####
df['Quantidade'].max()

10

c) Soma das receitas totais de venda

In [10]:
##### SEU CODIGO COMECA AQUI #####
df['Receita bruta'].sum()

17123.5275

d) Maior valor e menor valor das receitas de venda

In [11]:
##### SEU CODIGO COMECA AQUI #####
df['Receita bruta'].max()

49.65

In [12]:
##### SEU CODIGO COMECA AQUI #####
df['Receita bruta'].min()

0.5085

#

## **Exercício 4 - Manipulando os dados:**
#### Apague do DataFrame ou crie um novo sem as colunas abaixo, que não serão úteis para nossos exercícios. Exiba o novo DataFrame para confirmar que elas foram excluídas.

         1) Filial
         2) Tipo cliente
         3) Data
         4) Hora

In [13]:
##### SEU CODIGO COMECA AQUI #####
df = df.drop(["Filial", "Tipo cliente", "Data", "Hora"], axis = 1)

In [14]:
##### SEU CODIGO COMECA AQUI #####
df

,ID,Cidade,Genero,Linha produto,Preco unitario,Quantidade,Taxa 5%,Total,Forma pagamento,Custo produto vendido,Margem bruta,Receita bruta,Rating
0,319-50-3348,Mandalay,Female,Home and lifestyle,40.30,2,4.0300,84.6300,Ewallet,80.60,4.761905,4.0300,4.4
1,390-80-5128,Mandalay,Female,Health and beauty,19.15,1,0.9575,20.1075,Credit card,19.15,4.761905,0.9575,9.5
2,523-38-0215,Naypyitaw,Male,Home and lifestyle,37.00,1,1.8500,38.8500,Credit card,37.00,4.761905,1.8500,7.9
3,565-91-4567,Mandalay,Male,Health and beauty,10.75,8,4.3000,90.3000,Ewallet,86.00,4.761905,4.3000,6.2
4,829-34-3910,Yangon,Female,Health and beauty,71.38,10,35.6900,749.4900,Cash,713.80,4.761905,35.6900,5.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,122-61-9553,Naypyitaw,Female,Electronic accessories,51.32,9,23.0940,484.9740,Cash,461.88,4.761905,23.0940,5.6
1096,789-23-8625,Mandalay,Male,Fashion accessories,93.22,3,NaN,293.6430,Cash,279.66,4.761905,13.9830,7.2
1097,600-38-9738,Naypyitaw,Male,Sports and travel,71.92,5,17.9800,377.5800,Credit card,359.60,4.761905,17.9800,4.3
1098,355-34-6244,Mandalay,Male,Food and beverages,72.39,2,7.2390,152.0190,Credit card,144.78,4.761905,7.2390,8.1
1099,595-27-4851,Yangon,Female,Fashion accessories,54.28,7,18.9980,398.9580,Ewallet,379.96,4.761905,18.9980,9.3

#### a) Defina a coluna "ID" como index do dataframe

In [15]:
##### SEU CODIGO COMECA AQUI #####
df.index = df['ID']
df = df.drop(["ID"], axis = 1)

In [16]:
##### SEU CODIGO COMECA AQUI #####
df

,Cidade,Genero,Linha produto,Preco unitario,Quantidade,Taxa 5%,Total,Forma pagamento,Custo produto vendido,Margem bruta,Receita bruta,Rating
ID,,,,,,,,,,,,
319-50-3348,Mandalay,Female,Home and lifestyle,40.30,2,4.0300,84.6300,Ewallet,80.60,4.761905,4.0300,4.4
390-80-5128,Mandalay,Female,Health and beauty,19.15,1,0.9575,20.1075,Credit card,19.15,4.761905,0.9575,9.5
523-38-0215,Naypyitaw,Male,Home and lifestyle,37.00,1,1.8500,38.8500,Credit card,37.00,4.761905,1.8500,7.9
565-91-4567,Mandalay,Male,Health and beauty,10.75,8,4.3000,90.3000,Ewallet,86.00,4.761905,4.3000,6.2
829-34-3910,Yangon,Female,Health and beauty,71.38,10,35.6900,749.4900,Cash,713.80,4.761905,35.6900,5.7
...,...,...,...,...,...,...,...,...,...,...,...,...
122-61-9553,Naypyitaw,Female,Electronic accessories,51.32,9,23.0940,484.9740,Cash,461.88,4.761905,23.0940,5.6
789-23-8625,Mandalay,Male,Fashion accessories,93.22,3,NaN,293.6430,Cash,279.66,4.761905,13.9830,7.2
600-38-9738,Naypyitaw,Male,Sports and travel,71.92,5,17.9800,377.5800,Credit card,359.60,4.761905,17.9800,4.3
355-34-6244,Mandalay,Male,Food and beverages,72.39,2,7.2390,152.0190,Credit card,144.78,4.761905,7.2390,8.1
595-27-4851,Yangon,Female,Fashion accessories,54.28,7,18.9980,398.9580,Ewallet,379.96,4.761905,18.9980,9.3

#### b) Realize dois filtros na base de dados, um deles, apenas mostrando as vendas realizadas por homens, e no outro, apenas as vendas realizadas por mulheres.

In [17]:
##### SEU CODIGO COMECA AQUI #####
df_male = df[df["Genero"] == 'Male']
df_male

,Cidade,Genero,Linha produto,Preco unitario,Quantidade,Taxa 5%,Total,Forma pagamento,Custo produto vendido,Margem bruta,Receita bruta,Rating
ID,,,,,,,,,,,,
523-38-0215,Naypyitaw,Male,Home and lifestyle,37.00,1,1.8500,38.8500,Credit card,37.00,4.761905,1.8500,7.9
565-91-4567,Mandalay,Male,Health and beauty,10.75,8,4.3000,90.3000,Ewallet,86.00,4.761905,4.3000,6.2
347-56-2442,Yangon,Male,Home and lifestyle,65.82,1,3.2910,69.1110,Cash,65.82,4.761905,3.2910,4.1
434-83-9547,Naypyitaw,Male,Food and beverages,38.47,8,15.3880,323.1480,Cash,307.76,4.761905,15.3880,7.7
778-71-5554,Naypyitaw,Male,Fashion accessories,15.43,1,0.7715,16.2015,Credit card,15.43,4.761905,0.7715,6.1
...,...,...,...,...,...,...,...,...,...,...,...,...
134-75-2619,Yangon,Male,Electronic accessories,19.32,7,6.7620,142.0020,Cash,135.24,4.761905,6.7620,6.9
370-41-7321,Mandalay,Male,Health and beauty,56.69,9,25.5105,535.7205,Credit card,510.21,4.761905,25.5105,8.4
789-23-8625,Mandalay,Male,Fashion accessories,93.22,3,NaN,293.6430,Cash,279.66,4.761905,13.9830,7.2
600-38-9738,Naypyitaw,Male,Sports and travel,71.92,5,17.9800,377.5800,Credit card,359.60,4.761905,17.9800,4.3
355-34-6244,Mandalay,Male,Food and beverages,72.39,2,7.2390,152.0190,Credit card,144.78,4.761905,7.2390,8.1

In [18]:
##### SEU CODIGO COMECA AQUI #####
df_female = df[df["Genero"] == 'Female']
df_female

,Cidade,Genero,Linha produto,Preco unitario,Quantidade,Taxa 5%,Total,Forma pagamento,Custo produto vendido,Margem bruta,Receita bruta,Rating
ID,,,,,,,,,,,,
319-50-3348,Mandalay,Female,Home and lifestyle,40.30,2,4.0300,84.6300,Ewallet,80.60,4.761905,4.0300,4.4
390-80-5128,Mandalay,Female,Health and beauty,19.15,1,0.9575,20.1075,Credit card,19.15,4.761905,0.9575,9.5
829-34-3910,Yangon,Female,Health and beauty,71.38,10,35.6900,749.4900,Cash,713.80,4.761905,35.6900,5.7
201-86-2184,Mandalay,Female,Electronic accessories,26.26,7,9.1910,193.0110,Cash,183.82,4.761905,9.1910,9.9
359-90-3665,Mandalay,Female,Fashion accessories,18.08,4,3.6160,75.9360,Credit card,72.32,4.761905,3.6160,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...
892-05-6689,Yangon,Female,Home and lifestyle,28.32,5,7.0800,148.6800,Ewallet,141.60,4.761905,7.0800,6.2
638-60-7125,Yangon,Female,Electronic accessories,99.56,8,39.8240,836.3040,Credit card,796.48,4.761905,39.8240,5.2
587-73-4862,Yangon,Female,Health and beauty,10.69,5,2.6725,56.1225,Ewallet,53.45,4.761905,2.6725,7.6
122-61-9553,Naypyitaw,Female,Electronic accessories,51.32,9,23.0940,484.9740,Cash,461.88,4.761905,23.0940,5.6
595-27-4851,Yangon,Female,Fashion accessories,54.28,7,18.9980,398.9580,Ewallet,379.96,4.761905,18.9980,9.3

#### c) Após isso, descubra a média e a soma do valor total das compras de cada um desses grupos

In [19]:
##### SEU CODIGO COMECA AQUI #####
print(df_male['Total'].sum())
print(df_male['Total'].mean())

173412.9705
315.2963099999998

In [20]:
##### SEU CODIGO COMECA AQUI #####
print(df_female['Total'].sum())
print(df_female['Total'].mean())

186181.10700000002
338.51110363636326

## **Exercício 5 - Limpando a base:** 
#### Após entender do que o seu Dataset se trata, chegou a hora de realizar a limpeza de dados. Aqui, lembre-se de que os tipos mais comuns de "sujeiras" nos dados são:

*   NaN
*   Valores duplicados

Valores desse tipo são indesejáveis (embora muito comuns) porque atrapalham a análise, por isso sempre é necessário tratá-los.

a) Identifique quais colunas possuem casos de NaN e substitua-os por um valor

###### Dica: Taxa = Preço unitario * quantidade * 0.05

###### Utilize a função **fillna** para realizar essa substituição mais facilmente

In [21]:
##### SEU CODIGO COMECA AQUI #####
df.isna().sum()

Cidade                     0
Genero                     0
Linha produto              0
Preco unitario             0
Quantidade                 0
Taxa 5%                  163
Total                      0
Forma pagamento            0
Custo produto vendido      0
Margem bruta               0
Receita bruta              0
Rating                     0
dtype: int64

In [22]:
##### SEU CODIGO COMECA AQUI #####
df['Taxa 5%'].fillna((df['Preco unitario']*df['Quantidade']*0.05), inplace=True)
df

,Cidade,Genero,Linha produto,Preco unitario,Quantidade,Taxa 5%,Total,Forma pagamento,Custo produto vendido,Margem bruta,Receita bruta,Rating
ID,,,,,,,,,,,,
319-50-3348,Mandalay,Female,Home and lifestyle,40.30,2,4.0300,84.6300,Ewallet,80.60,4.761905,4.0300,4.4
390-80-5128,Mandalay,Female,Health and beauty,19.15,1,0.9575,20.1075,Credit card,19.15,4.761905,0.9575,9.5
523-38-0215,Naypyitaw,Male,Home and lifestyle,37.00,1,1.8500,38.8500,Credit card,37.00,4.761905,1.8500,7.9
565-91-4567,Mandalay,Male,Health and beauty,10.75,8,4.3000,90.3000,Ewallet,86.00,4.761905,4.3000,6.2
829-34-3910,Yangon,Female,Health and beauty,71.38,10,35.6900,749.4900,Cash,713.80,4.761905,35.6900,5.7
...,...,...,...,...,...,...,...,...,...,...,...,...
122-61-9553,Naypyitaw,Female,Electronic accessories,51.32,9,23.0940,484.9740,Cash,461.88,4.761905,23.0940,5.6
789-23-8625,Mandalay,Male,Fashion accessories,93.22,3,13.9830,293.6430,Cash,279.66,4.761905,13.9830,7.2
600-38-9738,Naypyitaw,Male,Sports and travel,71.92,5,17.9800,377.5800,Credit card,359.60,4.761905,17.9800,4.3
355-34-6244,Mandalay,Male,Food and beverages,72.39,2,7.2390,152.0190,Credit card,144.78,4.761905,7.2390,8.1
595-27-4851,Yangon,Female,Fashion accessories,54.28,7,18.9980,398.9580,Ewallet,379.96,4.761905,18.9980,9.3

In [23]:
##### SEU CODIGO COMECA AQUI #####
df.isna().sum()

Cidade                   0
Genero                   0
Linha produto            0
Preco unitario           0
Quantidade               0
Taxa 5%                  0
Total                    0
Forma pagamento          0
Custo produto vendido    0
Margem bruta             0
Receita bruta            0
Rating                   0
dtype: int64

b) Identifique quantas linhas duplicadas existem na base de dados, exiba-as e, por fim, exclua-as do DataFrame

In [24]:
##### SEU CODIGO COMECA AQUI #####
df.duplicated().sum()

100

In [25]:
##### SEU CODIGO COMECA AQUI #####
df = df.drop_duplicates()

In [26]:
##### SEU CODIGO COMECA AQUI #####
df.shape

(1000, 12)

#

## **Exercício 6  - Criando novos filtros do Dataframe original**
#### a) Exiba um filtro com todas as vendas que se estão na linha de produto de "Fashion accessories" OU "Heath and beauty" E com um valor total superior a 60

###### obs: utilize condições múltiplas com símbolos (&, |) e não esqueça de usar os parênteses para cada condição ex: (((x>2) & (x<10)) | (y>10))

In [27]:
##### SEU CODIGO COMECA AQUI #####
df[(((df["Linha produto"] == 'Fashion accessories') | (df["Linha produto"] == 'Heath and beauty')) & (df["Total"] > 60))]

,Cidade,Genero,Linha produto,Preco unitario,Quantidade,Taxa 5%,Total,Forma pagamento,Custo produto vendido,Margem bruta,Receita bruta,Rating
ID,,,,,,,,,,,,
359-90-3665,Mandalay,Female,Fashion accessories,18.08,4,3.6160,75.9360,Credit card,72.32,4.761905,3.6160,9.5
418-05-0656,Mandalay,Female,Fashion accessories,25.56,7,8.9460,187.8660,Cash,178.92,4.761905,8.9460,7.1
263-10-3913,Naypyitaw,Male,Fashion accessories,49.04,9,22.0680,463.4280,Credit card,441.36,4.761905,22.0680,8.6
271-88-8734,Naypyitaw,Female,Fashion accessories,97.21,10,48.6050,1020.7050,Credit card,972.10,4.761905,48.6050,8.7
563-91-7120,Yangon,Female,Fashion accessories,61.77,5,15.4425,324.2925,Cash,308.85,4.761905,15.4425,6.7
...,...,...,...,...,...,...,...,...,...,...,...,...
607-76-6216,Naypyitaw,Female,Fashion accessories,92.49,5,23.1225,485.5725,Credit card,462.45,4.761905,23.1225,8.6
139-52-2867,Naypyitaw,Female,Fashion accessories,22.51,7,7.8785,165.4485,Credit card,157.57,4.761905,7.8785,4.8
687-47-8271,Yangon,Male,Fashion accessories,98.98,10,49.4900,1039.2900,Credit card,989.80,4.761905,49.4900,8.7
789-23-8625,Mandalay,Male,Fashion accessories,93.22,3,13.9830,293.6430,Cash,279.66,4.761905,13.9830,7.2
595-27-4851,Yangon,Female,Fashion accessories,54.28,7,18.9980,398.9580,Ewallet,379.96,4.761905,18.9980,9.3

#### b) Exiba um filtro com as vendas que **NÃO** são da linha de "Sports and travel" E possuem uma quantidade vendida entre 4 e 6.

In [28]:
##### SEU CODIGO COMECA AQUI #####
df[((df["Linha produto"] != 'Sports and travel') & ((df["Quantidade"] <= 6) & (df["Quantidade"] >= 4)))]

,Cidade,Genero,Linha produto,Preco unitario,Quantidade,Taxa 5%,Total,Forma pagamento,Custo produto vendido,Margem bruta,Receita bruta,Rating
ID,,,,,,,,,,,,
359-90-3665,Mandalay,Female,Fashion accessories,18.08,4,3.6160,75.9360,Credit card,72.32,4.761905,3.6160,9.5
891-01-7034,Mandalay,Female,Electronic accessories,74.71,6,22.4130,470.6730,Cash,448.26,4.761905,22.4130,6.7
797-88-0493,Yangon,Female,Health and beauty,64.27,4,12.8540,269.9340,Cash,257.08,4.761905,12.8540,7.7
190-14-3147,Mandalay,Female,Health and beauty,17.97,4,3.5940,75.4740,Ewallet,71.88,4.761905,3.5940,6.4
501-61-1753,Mandalay,Female,Home and lifestyle,63.15,6,18.9450,397.8450,Ewallet,378.90,4.761905,18.9450,9.8
...,...,...,...,...,...,...,...,...,...,...,...,...
407-63-8975,Yangon,Male,Food and beverages,73.88,6,22.1640,465.4440,Ewallet,443.28,4.761905,22.1640,4.4
711-31-1234,Mandalay,Female,Electronic accessories,95.64,4,19.1280,401.6880,Cash,382.56,4.761905,19.1280,7.9
607-76-6216,Naypyitaw,Female,Fashion accessories,92.49,5,23.1225,485.5725,Credit card,462.45,4.761905,23.1225,8.6
892-05-6689,Yangon,Female,Home and lifestyle,28.32,5,7.0800,148.6800,Ewallet,141.60,4.761905,7.0800,6.2
587-73-4862,Yangon,Female,Health and beauty,10.69,5,2.6725,56.1225,Ewallet,53.45,4.761905,2.6725,7.6

# Exercício 7 (Extra) - Faça você mesmo!
### Realize nesse mesmo arquivo, não se preocupe com a base CSV na hora de enviar a lista. 
### Apenas conste que as células são executadas sem erros.


1) Entre no Kaggle (Site indicado no vídeo) e seleciona uma base de dados do tipo .csv, sobre qualquer assunto; https://www.kaggle.com/datasets

2) Leia essa base no Jupyter Notebook;

3) Diga qual o tamanho dessa base (linhas e colunas);

4) Verifique se essa base precisa de tratamento, se tem valores faltantes ou duplicados;

5) Caso necessário ajuste esses valores;

6) Verifique quantas colunas tem nesse Dataset, quais tipos de dados elas tem;

7) Remova as colunas que julgar irrelevante;

8) Em um markdown descreva brevemente o conteudo de cada coluna;

9) Faça alguma analise com funções estatisticas e faça uma observação ou conclusão em cima da sua base de dados.

## Exercício 1
Base de dados escolhida: "TikTok: What's trending and why?" (https://www.kaggle.com/datasets/thedevastator/tiktok-what-s-trending-and-why/versions/2?resource=download)

## Exercício 2

In [55]:
##### SEU CODIGO COMECA AQUI #####
tiktok = pd.read_csv("trending.csv", sep = ",")
tiktok

,user_name,user_id,video_id,video_desc,video_time,video_length,video_link,n_likes,n_shares,n_comments,n_plays
0,virvirlogo,6850363964103787522,6870517816395599105,Jangan berbohong kalian kaum hawa #fypシ #foryo...,1599667090,17,https://www.tiktok.com/@virvirlogo/video/68705...,37300,190,299,430000
1,fighaaa,6710981038585250818,6881467654993988865,#jegalsampaigagal #mahasiswaindonesia #mahasis...,1602216546,34,https://www.tiktok.com/@fighaaa/video/68814676...,114900,789,1761,566900
2,cathyychang,6781377328532325377,6881237013593476353,thank you UPH🥺💖 #racunintiktok #tiktokindonesi...,1602162845,51,https://www.tiktok.com/@cathyychang/video/6881...,104200,1316,1039,576700
3,miraaa336,6515089076041940994,6874450585047878914,#duet dengan @yosattt #magicscan #AXISERUINAJA...,1600582758,9,https://www.tiktok.com/@miraaa336/video/687445...,1789,3,9,103800
4,pratiwi0421,6796618738764792834,6862641405672590594,learn from master @psdn_98 @naruto0919 #finger...,1597833226,13,https://www.tiktok.com/@pratiwi0421/video/6862...,2925,41,45,129600
5,_iqbal1999,6671433503026675713,6860140242016423170,Semangat💪untuk kalian yang pejuang LDR🌹❤️💐🤴👸🔱 ...,1597250885,15,https://www.tiktok.com/@_iqbal1999/video/68601...,19800,108,176,361200
6,icharisaa,6790153254766281730,6881452909809159425,yang ada bengek #fypシ #fyp #foryoupage #foryou,1602213114,12,https://www.tiktok.com/@icharisaa/video/688145...,13200,84,386,118800
7,callmecolll,74176257373,6877532751755627778,NaN,1601300379,59,https://www.tiktok.com/@callmecolll/video/6877...,111300,521,2453,848600
8,elinesu,6654557946088112130,6868250249027226881,Horror story of @koreandaebakk #Lazada99 #shap...,1599139130,17,https://www.tiktok.com/@elinesu/video/68682502...,38000,31,35,298200
9,ajinur985,6584929978894958594,6874410426881363201,"Tipe-tipe polisi... ib: @agakugunanang , Full ...",1600573411,35,https://www.tiktok.com/@ajinur985/video/687441...,24900,87,82,370400
10,iphoo8,6563215012759240705,6880392290431405314,#tiktokpintar #samasamabelajar aslinya ibu dua...,1601966169,7,https://www.tiktok.com/@iphoo8/video/688039229...,1253,2,0,70200
11,dewimaura,6617565428627816450,6860331103195024641,"#zoommyface ..#pejuanglokal ..jgn marah"" lagi ...",1597295322,11,https://www.tiktok.com/@dewimaura/video/686033...,12100,45,143,260800
12,putrijuni__,6777138461722330114,6867427625350991105,#zoommyface #zoommyface #fypシ #99shopeehaul #f...,1598947598,14,https://www.tiktok.com/@putrijuni__/video/6867...,293,0,0,11100
13,arti....igu,6749547998688740354,6877403163259964673,Eman mo dihapus.....🤭🤭🤭🤭#AWESOMEisUs #samasama...,1601270209,12,https://www.tiktok.com/@arti....igu/video/6877...,1258,6,90,13800
14,arjuna813,6722080126614209538,6877257712908995841,#AWESOMEisUs #MentosFreshtafet #fyp ikutan yg...,1601236343,8,https://www.tiktok.com/@arjuna813/video/687725...,1522,1,26,15600
15,17agustus00,6812243860589790210,6860675032041950465,#fyp #NewNormalNewYou #pejuangfyp #PejuangLoka...,1597375400,15,https://www.tiktok.com/@17agustus00/video/6860...,223,1,2,4092
16,ayu_sonia,6692072824385422338,6852167118645923073,alhmdllh lancar hr ini.sellu di pertemukn dgn ...,1595394487,10,https://www.tiktok.com/@ayu_sonia/video/685216...,19200,1014,380,425000
17,cheryl.cherinta,6861057449764946945,6862936899623881985,NaN,1597902030,12,https://www.tiktok.com/@cheryl.cherinta/video/...,159700,14300,1719,2600000
18,...hans,6852325716262192130,6880163492297460994,"OH iya Makasih Yah Buat yang follow, trus gua ...",1601912895,10,https://www.tiktok.com/@...hans/video/68801634...,10200,102,443,84900
19,duwiapriyani01,6798463797688271874,6852112442449726721,Canda sayang😜#samasamadirumah #beranda #fyp #f...,1595381761,12,https://www.tiktok.com/@duwiapriyani01/video/6...,14500,324,495,116900

## Exercício 3

In [56]:
##### SEU CODIGO COMECA AQUI #####
tiktok.shape

(20, 11)

## Exercícios 4 e 5

In [57]:
##### SEU CODIGO COMECA AQUI #####
tiktok.isna().sum()

user_name       0
user_id         0
video_id        0
video_desc      2
video_time      0
video_length    0
video_link      0
n_likes         0
n_shares        0
n_comments      0
n_plays         0
dtype: int64

Há dois valores faltantes na coluna "video_desc".

In [58]:
tiktok.duplicated().sum()

0

Não há valores duplicados na base analisada.

In [59]:
tiktok = tiktok.dropna()
tiktok.isna().sum()

user_name       0
user_id         0
video_id        0
video_desc      0
video_time      0
video_length    0
video_link      0
n_likes         0
n_shares        0
n_comments      0
n_plays         0
dtype: int64

## Exercício 6

In [60]:
##### SEU CODIGO COMECA AQUI #####
tiktok.dtypes

user_name       object
user_id          int64
video_id         int64
video_desc      object
video_time       int64
video_length     int64
video_link      object
n_likes          int64
n_shares         int64
n_comments       int64
n_plays          int64
dtype: object

## Exercício 7

In [61]:
##### SEU CODIGO COMECA AQUI #####
tiktok = tiktok.drop(["user_name", "video_time"], axis = 1)
tiktok.head()

,user_id,video_id,video_desc,video_length,video_link,n_likes,n_shares,n_comments,n_plays
0,6850363964103787522,6870517816395599105,Jangan berbohong kalian kaum hawa #fypシ #foryo...,17,https://www.tiktok.com/@virvirlogo/video/68705...,37300,190,299,430000
1,6710981038585250818,6881467654993988865,#jegalsampaigagal #mahasiswaindonesia #mahasis...,34,https://www.tiktok.com/@fighaaa/video/68814676...,114900,789,1761,566900
2,6781377328532325377,6881237013593476353,thank you UPH🥺💖 #racunintiktok #tiktokindonesi...,51,https://www.tiktok.com/@cathyychang/video/6881...,104200,1316,1039,576700
3,6515089076041940994,6874450585047878914,#duet dengan @yosattt #magicscan #AXISERUINAJA...,9,https://www.tiktok.com/@miraaa336/video/687445...,1789,3,9,103800
4,6796618738764792834,6862641405672590594,learn from master @psdn_98 @naruto0919 #finger...,13,https://www.tiktok.com/@pratiwi0421/video/6862...,2925,41,45,129600

## Exercício 8

- user_id: ID do usuário que postou o vídeo
- video_id: ID do vídeo que foi postado
- video_desc: texto localizado na descrição do vídeo
- video_length: tamanho do vídeo em segundos
- video_link: link do vídeo
- n_likes: número de likes que o post recebeu
- n_shares: número de vezes que o vídeo foi compartilhado
- n_comments: número de comentários que o post recebeu
- n_plays: número de vezes que o vídeo foi reproduzido

## Exercício 9

In [62]:
##### SEU CODIGO COMECA AQUI #####
tiktok['interacao_total'] = tiktok["n_likes"] + tiktok["n_shares"] + tiktok["n_comments"] + tiktok["n_plays"]
tiktok.head()

,user_id,video_id,video_desc,video_length,video_link,n_likes,n_shares,n_comments,n_plays,interacao_total
0,6850363964103787522,6870517816395599105,Jangan berbohong kalian kaum hawa #fypシ #foryo...,17,https://www.tiktok.com/@virvirlogo/video/68705...,37300,190,299,430000,467789
1,6710981038585250818,6881467654993988865,#jegalsampaigagal #mahasiswaindonesia #mahasis...,34,https://www.tiktok.com/@fighaaa/video/68814676...,114900,789,1761,566900,684350
2,6781377328532325377,6881237013593476353,thank you UPH🥺💖 #racunintiktok #tiktokindonesi...,51,https://www.tiktok.com/@cathyychang/video/6881...,104200,1316,1039,576700,683255
3,6515089076041940994,6874450585047878914,#duet dengan @yosattt #magicscan #AXISERUINAJA...,9,https://www.tiktok.com/@miraaa336/video/687445...,1789,3,9,103800,105601
4,6796618738764792834,6862641405672590594,learn from master @psdn_98 @naruto0919 #finger...,13,https://www.tiktok.com/@pratiwi0421/video/6862...,2925,41,45,129600,132611

In [63]:
tiktok.describe()

,user_id,video_id,video_length,n_likes,n_shares,n_comments,n_plays,interacao_total
count,1.800000e+01,1.800000e+01,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,6.718898e+18,6.870139e+18,16.777778,23197.944444,230.222222,300.611111,219888.444444,243617.222222
std,1.001937e+17,1.007725e+16,11.517534,33642.871376,391.904784,450.383254,194305.358598,223920.026767
min,6.515089e+18,6.852112e+18,7.000000,223.000000,0.000000,0.000000,4092.000000,4318.000000
25%,6.658777e+18,6.861167e+18,10.250000,1588.750000,3.750000,28.250000,73875.000000,77502.500000
50%,6.735814e+18,6.872464e+18,12.500000,12650.000000,64.500000,116.500000,124200.000000,132540.500000
75%,6.795002e+18,6.879473e+18,16.500000,23625.000000,169.500000,384.500000,368100.000000,391922.750000
max,6.852326e+18,6.881468e+18,51.000000,114900.000000,1316.000000,1761.000000,576700.000000,684350.000000

In [64]:
tiktok_ordem = tiktok.sort_values('interacao_total',ascending=False)
tiktok_ordem

,user_id,video_id,video_desc,video_length,video_link,n_likes,n_shares,n_comments,n_plays,interacao_total
1,6710981038585250818,6881467654993988865,#jegalsampaigagal #mahasiswaindonesia #mahasis...,34,https://www.tiktok.com/@fighaaa/video/68814676...,114900,789,1761,566900,684350
2,6781377328532325377,6881237013593476353,thank you UPH🥺💖 #racunintiktok #tiktokindonesi...,51,https://www.tiktok.com/@cathyychang/video/6881...,104200,1316,1039,576700,683255
0,6850363964103787522,6870517816395599105,Jangan berbohong kalian kaum hawa #fypシ #foryo...,17,https://www.tiktok.com/@virvirlogo/video/68705...,37300,190,299,430000,467789
16,6692072824385422338,6852167118645923073,alhmdllh lancar hr ini.sellu di pertemukn dgn ...,10,https://www.tiktok.com/@ayu_sonia/video/685216...,19200,1014,380,425000,445594
9,6584929978894958594,6874410426881363201,"Tipe-tipe polisi... ib: @agakugunanang , Full ...",35,https://www.tiktok.com/@ajinur985/video/687441...,24900,87,82,370400,395469
5,6671433503026675713,6860140242016423170,Semangat💪untuk kalian yang pejuang LDR🌹❤️💐🤴👸🔱 ...,15,https://www.tiktok.com/@_iqbal1999/video/68601...,19800,108,176,361200,381284
8,6654557946088112130,6868250249027226881,Horror story of @koreandaebakk #Lazada99 #shap...,17,https://www.tiktok.com/@elinesu/video/68682502...,38000,31,35,298200,336266
11,6617565428627816450,6860331103195024641,"#zoommyface ..#pejuanglokal ..jgn marah"" lagi ...",11,https://www.tiktok.com/@dewimaura/video/686033...,12100,45,143,260800,273088
4,6796618738764792834,6862641405672590594,learn from master @psdn_98 @naruto0919 #finger...,13,https://www.tiktok.com/@pratiwi0421/video/6862...,2925,41,45,129600,132611
6,6790153254766281730,6881452909809159425,yang ada bengek #fypシ #fyp #foryoupage #foryou,12,https://www.tiktok.com/@icharisaa/video/688145...,13200,84,386,118800,132470
19,6798463797688271874,6852112442449726721,Canda sayang😜#samasamadirumah #beranda #fyp #f...,12,https://www.tiktok.com/@duwiapriyani01/video/6...,14500,324,495,116900,132219
3,6515089076041940994,6874450585047878914,#duet dengan @yosattt #magicscan #AXISERUINAJA...,9,https://www.tiktok.com/@miraaa336/video/687445...,1789,3,9,103800,105601
18,6852325716262192130,6880163492297460994,"OH iya Makasih Yah Buat yang follow, trus gua ...",10,https://www.tiktok.com/@...hans/video/68801634...,10200,102,443,84900,95645
10,6563215012759240705,6880392290431405314,#tiktokpintar #samasamabelajar aslinya ibu dua...,7,https://www.tiktok.com/@iphoo8/video/688039229...,1253,2,0,70200,71455
14,6722080126614209538,6877257712908995841,#AWESOMEisUs #MentosFreshtafet #fyp ikutan yg...,8,https://www.tiktok.com/@arjuna813/video/687725...,1522,1,26,15600,17149
13,6749547998688740354,6877403163259964673,Eman mo dihapus.....🤭🤭🤭🤭#AWESOMEisUs #samasama...,12,https://www.tiktok.com/@arti....igu/video/6877...,1258,6,90,13800,15154
12,6777138461722330114,6867427625350991105,#zoommyface #zoommyface #fypシ #99shopeehaul #f...,14,https://www.tiktok.com/@putrijuni__/video/6867...,293,0,0,11100,11393
15,6812243860589790210,6860675032041950465,#fyp #NewNormalNewYou #pejuangfyp #PejuangLoka...,15,https://www.tiktok.com/@17agustus00/video/6860...,223,1,2,4092,4318

In [65]:
verificar_hashtag = pd.DataFrame(tiktok_ordem['video_desc'].str.contains(pat = '#fyp') == 1)
verificar_hashtag_ID = (pd.DataFrame(verificar_hashtag).join(tiktok['video_id'],how="outer"))
proporcao_bool = verificar_hashtag_ID.groupby("video_desc").count()[["video_id"]]
proporcao_bool

            video_id
video_desc
False              5
True              13

In [73]:
tiktok_top5 = tiktok_ordem.head()
tiktok_top5['video_length'].mean()

29.4

In [74]:
tiktok_worst5 = tiktok_ordem.tail()
tiktok_worst5['video_length'].mean()

11.2

### Análises e conclusões obtidas
Primeiramente, é importante pontuar que os posts foram alocados em ordem decrescente de acordo com o número total de interações, calculado a partir da soma de curtidas, comentários, compartilhamentos e reproduções. Depois, foi possível notar que todos os 6 primeiros posts com maior número de interações apresentaram a hashtag "#fyp" em sua descrição. Além disso, analisando a base como um todo, a qual já engloba vídeos que apresentam grande popularidade no TikTok, a incidência de posts que apresentam a mesma hashtag é de 15/18 (83,3%), podendo assim ser observada uma influência dessa hashtag no aumento do número de interações dos vídeos nessa rede social.

Para mais, analisando estatísticas descritivas, nota-se que a média de tempo dos 5 vídeos com maior interação na base analisada (29,4 s) é maior que a média de tempo da base como um todo (16,8 s). Além disso, a média de tempo dos 5 vídeos com menor interação da base analisada (11,2 s) é menor que a média de tempo da base como um todo (16,8 s). A partir disso, é possível concluir também que, em média, as pessoas tendem a interagir mais com vídeos que apresentam maior tempo de duração.